<a href="https://colab.research.google.com/github/ScMofeoluwa/Competitions/blob/master/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Placement_Data_Full_Class.csv')

In [ ]:
df.head()

   sl_no gender  ssc_p    ssc_b  ...  specialisation  mba_p      status    salary
0      1      M  67.00   Others  ...          Mkt&HR  58.80      Placed  270000.0
1      2      M  79.33  Central  ...         Mkt&Fin  66.28      Placed  200000.0
2      3      M  65.00  Central  ...         Mkt&Fin  57.80      Placed  250000.0
3      4      M  56.00  Central  ...          Mkt&HR  59.43  Not Placed       NaN
4      5      M  85.80  Central  ...         Mkt&Fin  55.50      Placed  425000.0

[5 rows x 15 columns]

In [ ]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [ ]:
df['salary'] = df['salary'].fillna(df['salary'].mean())

In [ ]:
df.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [ ]:
df['specialisation'].value_counts()

Mkt&Fin    120
Mkt&HR      95
Name: specialisation, dtype: int64

From this we can see that the Mkt&Fin specialisation is much demanded for

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
LE = LabelEncoder()

In [ ]:
df['gender'] = LE.fit_transform(df['gender'])
df['ssc_b'] = LE.fit_transform(df['ssc_b'])
df['hsc_b'] = LE.fit_transform(df['hsc_b'])
df['hsc_s'] = LE.fit_transform(df['hsc_s'])
df['degree_t'] = LE.fit_transform(df['degree_t'])
df['workex'] = LE.fit_transform(df['workex'])
df['status'] = LE.fit_transform(df['status'])
df['specialisation'] = LE.fit_transform(df['specialisation'])

In [ ]:
df.dtypes

sl_no               int64
gender              int64
ssc_p             float64
ssc_b               int64
hsc_p             float64
hsc_b               int64
hsc_s               int64
degree_p          float64
degree_t            int64
workex              int64
etest_p           float64
specialisation      int64
mba_p             float64
status              int64
salary            float64
dtype: object

In [ ]:
corr = df.corr()
corr['status'].abs().sort_values(ascending=False)

status            1.000000e+00
ssc_p             6.078887e-01
hsc_p             4.912279e-01
degree_p          4.798610e-01
workex            2.760600e-01
specialisation    2.506551e-01
etest_p           1.276394e-01
gender            9.067040e-02
mba_p             7.692165e-02
ssc_b             3.729651e-02
hsc_s             3.344214e-02
sl_no             2.685942e-02
degree_t          2.035216e-02
hsc_b             1.694454e-02
salary            9.450535e-17
Name: status, dtype: float64

The ssc_p(Secondary Education percentage- 10th Grade) influenced a candidate getting placed the most

From the correlation, all percentage based factors had high correlation with the target. This shows that percentage matters for one to get placed